.multiple-items
	.items
		+img('images/test.jpg')
	.items
		+img('images/test.jpg')
	.items
		+img('images/test.jpg')
	.items
		+img('images/test.jpg')
	.items
		+img('images/test.jpg')
	.items
		+img('images/test.jpg')
