- const siteTitle = pageTitle ? `${pageTitle} - ${siteName}` : siteName

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content=siteDescription)

link(rel="icon", href="favicon/favicon.ico")
link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon-180x180.png")

title= siteTitle

link(rel="stylesheet", href="css/main.min.css?v=" + siteVersion)

